.fr-toolbar .fr-command.fr-btn img {
    margin: 0;
    width: 32px;
    height: auto;
}

#editor {
    width: 818px;
    margin: auto;
    margin-top: 100px;
}

.fr-toolbar {
    display: flex;
    border-bottom: 1px solid #ccc;
}

.fr-toolbar .fr-command.fr-btn.fr-dropdown.fr-selection span, .fr-popup .fr-command.fr-btn.fr-dropdown.fr-selection span, .fr-modal .fr-command.fr-btn.fr-dropdown.fr-selection span {
    font-family: SourceSerifPro;
}

.fr-toolbar .fr-command.fr-btn span, .fr-popup .fr-command.fr-btn span, .fr-modal .fr-command.fr-btn span {
    font-family: SourceSerifPro;
}

.fr-popup .fr-action-buttons button.fr-command {
    font-family: SourceSerifPro;
}

.fr-toolbar.fr-top {
    display: flex;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.fr-toolbar .fr-command.fr-btn{
    height: 30px;
    margin: 0;
}

.fr-toolbar .fr-btn-grp {
    margin: 0;
    display: grid;
    align-items: center;
    padding: 2px;
}

.fr-toolbar .fr-btn-grp button.fr-command:hover {
    background-color: rgba(94, 226, 160, .25);
}

.fr-toolbar .fr-btn-grp button.fr-command:active {
    background-color: rgba(94, 226, 160, .25);
}

.fr-toolbar .fr-command.fr-btn span.fr-sr-only {
    width: auto;
    height: auto;
    clip: auto;
    font-size: 12px;
}

.fr-toolbar .fr-command.fr-btn {
    text-align: center;
    margin: 1px;
}

.fr-toolbar .fr-btn-grp {
    border-right: 1px solid #ccc;
}

.fr-box.fr-basic.fr-top .fr-wrapper {
    min-height: 200px;
}

.fr-toolbar .fr-newline {
    display: none;
}

.fr-toolbar:after {
    display: none;
}

.fr-desktop .fr-command.fr-active:active {
    background-color: rgba(94, 226, 160, .25);
}

.fr-desktop .fr-command.fr-active:focus {
    background-color: rgba(94, 226, 160, .25);
}

.fr-desktop .fr-command.fr-active:hover {
    background-color: rgba(94, 226, 160, .25);
}

.fr-desktop .fr-command.fr-active {
    background-color: rgba(94, 226, 160, .25);
}

/* --------------------------1------------------------ */
.fr-toolbar .fr-btn-grp:nth-child(1) {
    padding: 4px;
}

.fr-toolbar .fr-btn-grp:nth-child(1) button:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 56px;
    height: 44px;
    box-sizing: content-box;
    padding: 15px 3px;
}

.fr-toolbar .fr-btn-grp:nth-child(1) button:nth-child(1) span {
    position: initial;
    line-height: 12px;
}

/* --------------------------2------------------------ */

.fr-toolbar .fr-btn-grp:nth-child(2) {
    grid-template-columns: auto auto auto auto auto auto;
}

.fr-toolbar .fr-btn-grp:nth-child(2) button:nth-child(1) {
    display: flex;
    flex-direction: column;
    height: 44px;
    align-items: center;
    grid-column: 1/span 3;
}

.fr-toolbar .fr-btn-grp:nth-child(2) button:nth-child(1) span {
    position: initial;
    line-height: 12px;
}

.fr-toolbar .fr-btn-grp:nth-child(2) button:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 44px;
    grid-column: 4/span 3;
}

.fr-toolbar .fr-btn-grp:nth-child(2) button:nth-child(2) span {
    position: initial;
    line-height: 12px;
}

.fr-toolbar .fr-btn-grp:nth-child(2) button:nth-child(1) span, .fr-toolbar .fr-btn-grp:nth-child(2) button:nth-child(2) span {
    left:11px;
}

.fr-toolbar .fr-btn-grp:nth-child(2) button:nth-child(3) {
    grid-column: 1/span 2;
}

.fr-toolbar .fr-btn-grp:nth-child(2) button:nth-child(4) {
    grid-column: 3/span 2;
}

.fr-toolbar .fr-btn-grp:nth-child(2) button:nth-child(5) {
    grid-column: 5/span 2;
}

/* --------------------------3------------------------ */

.fr-toolbar .fr-btn-grp:nth-child(3) {
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
}

.fr-toolbar .fr-btn-grp:nth-child(3) button:nth-child(1) {
    margin: 0;
    border-radius: 0;
    grid-column: 1/span 7;
}

.fr-toolbar .fr-btn-grp:nth-child(3) button:nth-child(1) span.fr-sr-only {
    display: none;
}

.fr-toolbar .fr-btn-grp:nth-child(3) button:nth-child(3) {
    margin: 0;
    border-radius: 0;
    grid-column: 8/span 7;
}

.fr-toolbar .fr-btn-grp:nth-child(3) button:nth-child(3) span.fr-sr-only {
    display: none;
}

.fr-toolbar .fr-btn-grp:nth-child(3) button:nth-child(5) {
    grid-column: 1/span 2;
}

.fr-toolbar .fr-btn-grp:nth-child(3) button:nth-child(6) {
    grid-column: 3/span 2;
}

.fr-toolbar .fr-btn-grp:nth-child(3) button:nth-child(7) {
    grid-column: 5/span 2;
}

.fr-toolbar .fr-btn-grp:nth-child(3) button:nth-child(8) {
    grid-column: 7/span 2;
}

.fr-toolbar .fr-btn-grp:nth-child(3) button:nth-child(8) img {
    margin: 0;
}

.fr-toolbar .fr-btn-grp:nth-child(3) button:nth-child(8):after {
    content: none;
}

.fr-toolbar .fr-btn-grp:nth-child(3) button:nth-child(10) {
    grid-column: 9/span 2;
}

.fr-toolbar .fr-btn-grp:nth-child(3) button:nth-child(10) img {
    margin: 0;
}

.fr-toolbar .fr-btn-grp:nth-child(3) button:nth-child(10):after {
    content: none;
}

.fr-toolbar .fr-btn-grp:nth-child(3) button:nth-child(12) {
    grid-column: 11/span 2;
}

.fr-toolbar .fr-btn-grp:nth-child(3) button:nth-child(13) {
    grid-column: 13/span 2;
}

/* --------------------------4------------------------ */

.fr-toolbar .fr-btn-grp:nth-child(4) {
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
}

.fr-toolbar .fr-btn-grp:nth-child(4) button:nth-child(1) {
    grid-column: 1/span 2;
}

.fr-toolbar .fr-btn-grp:nth-child(4) button:nth-child(1) span.fr-sr-only {
    display: none;
}

.fr-toolbar .fr-btn-grp:nth-child(4) button:nth-child(1) span {
    min-width: 5px;
    margin: 0;
    font-size: 12px;
    padding-right: 0;
    padding-left: 2px;
}

.fr-toolbar .fr-btn-grp:nth-child(4) button:nth-child(1):after {
    display: none;
}

.fr-toolbar .fr-btn-grp:nth-child(4) button:nth-child(3) {
    grid-column: 3/span 2;
}

.fr-toolbar .fr-btn-grp:nth-child(4) button:nth-child(3) img {
    width: 15px;
    padding: 0px 2px 0px 0px;
}

.fr-toolbar .fr-btn-grp:nth-child(4) button:nth-child(4) {
    grid-column: 5/span 2;
}

.fr-toolbar .fr-btn-grp:nth-child(4) button:nth-child(4) img {
    width: 21px;
}

.fr-toolbar .fr-btn-grp:nth-child(4) button:nth-child(5) {
    grid-column: 1/span 3;
}

.fr-toolbar .fr-btn-grp:nth-child(4) button:nth-child(6) {
    grid-column: 4/span 3;
}

.fr-toolbar .fr-btn-grp:nth-child(4) button:nth-child(7) {
    grid-column: 7/span 3;
}

.fr-toolbar .fr-btn-grp:nth-child(4) button:nth-child(8) {
    grid-column: 10/span 3;
}

/* --------------------------5------------------------ */

.fr-toolbar .fr-btn-grp:nth-child(5) {
    grid-template-columns: auto auto;
}

.fr-toolbar .fr-btn-grp:nth-child(5) button:nth-child(1) {
    grid-column: 1/span 1;
}

.fr-toolbar .fr-btn-grp:nth-child(5) button:nth-child(2) {
    grid-column: 2/span 1;
}

.fr-toolbar .fr-btn-grp:nth-child(5) button:nth-child(3) {
    grid-column: 1/span 1;
}

.fr-toolbar .fr-btn-grp:nth-child(5) button:nth-child(4) {
    grid-column: 2/span 1;
}

/* --------------------------6------------------------ */

.fr-toolbar .fr-btn-grp:nth-child(6) {
    grid-template-columns: auto auto;
}

.fr-toolbar .fr-btn-grp:nth-child(6) button:nth-child(1) {
    grid-column: 1/span 1;
}

.fr-toolbar .fr-btn-grp:nth-child(6) button:nth-child(2) {
    grid-column: 2/span 1;
}

.fr-toolbar .fr-btn-grp:nth-child(6) button:nth-child(3) {
    grid-column: 1/span 1;
}

.fr-toolbar .fr-btn-grp:nth-child(6) button:nth-child(4) {
    grid-column: 2/span 1;
}

.fr-toolbar .fr-btn-grp:nth-child(6) button:nth-child(4) img {
    margin: 0;
}

.fr-toolbar .fr-btn-grp:nth-child(6) button:nth-child(4):after {
    content: none;
}

/* --------------------------7------------------------ */

.fr-toolbar .fr-btn-grp:nth-child(7) {
    grid-template-columns: auto auto;
    border-right: 0;
}

.fr-toolbar .fr-btn-grp:nth-child(7) button:nth-child(1) {
    grid-column: 1/span 1;
}

.fr-toolbar .fr-btn-grp:nth-child(7) button:nth-child(2) {
    grid-column: 2/span 1;
}

.fr-toolbar .fr-btn-grp:nth-child(7) button:nth-child(2):after {
    display: none;
}

.fr-toolbar .fr-btn-grp:nth-child(7) button:nth-child(4) {
    grid-column: 1/span 1;
}

.fr-toolbar .fr-btn-grp:nth-child(7) button:nth-child(4) span {
    min-width: 5px;
    margin-right: 0;
    font-size: 12px;
    padding-right: 0;
}

/*------------------------------------Color Popup----------------------------------------*/

.fr-desktop .fr-popup .fr-color-set>span.fr-command {
    border-radius: 50% !important;
    margin: 4px;
}

[data-param1="#FFFFFF"] {
    background-image: radial-gradient(circle, white 66%, #d5d5d5);
    box-shadow: 0px 7px 6px #e0e0e0 inset;
}

.fr-popup .fr-input-line input[type="text"], .fr-popup .fr-input-line input[type="number"] {
    border: 0;
    box-shadow: 0px 7px 6px #e0e0e0 inset, 0px 6px 11px #dbdbdb;
    border-radius: 8px 8px 8px 8px;
}

.fr-popup .fr-input-line input[type="text"]:hover, .fr-popup .fr-input-line input[type="number"]:hover, .fr-popup .fr-input-line textarea:hover {
    border: 0;
}

.fr-popup .fr-input-line input[type="text"]:focus, .fr-popup .fr-input-line input[type="number"]:focus, .fr-popup .fr-input-line textarea:focus {
    border: 0;
    padding: 3px 11px;
}

.fr-popup .fr-input-line input+label {
    font-family: SourceSerifPro;
    font-size: 20px;
    font-weight: bold;
    color: #000;
}

.fr-popup {
    -webkit-box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%), 0px 5px 9px #e0e0e0 inset;
    -moz-box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%), 0px 5px 9px #e0e0e0 inset;
    box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%), 0px 5px 9px #e0e0e0 inset;
}

.fr-popup .fr-layer.fr-color-hex-layer {
    width: 100% !important;
    box-sizing: content-box;
}

.fr-popup .fr-layer.fr-color-hex-layer .fr-input-line {
    width: 50%;
}

.fr-popup .fr-layer.fr-color-hex-layer .fr-action-buttons {
    float: left;
    width: auto;
    height: auto;
    margin-left: 4px;
}

.fr-popup .fr-layer.fr-color-hex-layer .fr-action-buttons button.fr-command {
    font-size: 20px;
    width: auto;
    color: black;
    height: auto;
}

.fr-toolbar .fr-command.fr-btn.fr-btn-active-popup, .fr-popup .fr-command.fr-btn.fr-btn-active-popup, .fr-modal .fr-command.fr-btn.fr-btn-active-popup {
    background-color: rgba(94, 226, 160, .25);
    border-radius: 8px !important;
    border: 0 !important;
}

.fr-popup .fr-action-buttons button.fr-command:hover, .fr-popup .fr-action-buttons button.fr-command:focus {
    background: rgba(94, 226, 160, .25);
    border-radius: 8px !important;
    border: 0 !important;
}
/*-------------------------------------------------*/
.fr-toolbar .fr-command.fr-btn.fr-dropdown.fr-active:hover, .fr-popup .fr-command.fr-btn.fr-dropdown.fr-active:hover, .fr-modal .fr-command.fr-btn.fr-dropdown.fr-active:hover {
    background: rgba(94, 226, 160, .25);
    border-radius: 8px !important;
    border: 0 !important;
}

.fr-toolbar .fr-command.fr-btn.fr-dropdown.fr-active, .fr-popup .fr-command.fr-btn.fr-dropdown.fr-active, .fr-modal .fr-command.fr-btn.fr-dropdown.fr-active {
    background: #fff;
    border-radius: 8px !important;
    border: 0 !important;
}

.fr-desktop .fr-command:hover:not(.fr-table-cell), .fr-desktop .fr-command:focus:not(.fr-table-cell), .fr-desktop .fr-command.fr-btn-hover:not(.fr-table-cell), .fr-desktop .fr-command.fr-expanded:not(.fr-table-cell) {
    background: rgba(94, 226, 160, .25);
    border-radius: 8px !important;
    border: 0 !important;
}

.fr-desktop .fr-command.fr-selected:not(.fr-table-cell), .fr-desktop .fr-command:active {
    background: rgba(94, 226, 160, .25);
    border-radius: 8px !important;
    border: 0 !important;
}

.fr-command.fr-btn+.fr-dropdown-menu .fr-dropdown-wrapper .fr-dropdown-content ul.fr-dropdown-list li a.fr-active {
    background: rgba(94, 226, 160, .25);
}

.fr-command.fr-btn+.fr-dropdown-menu .fr-dropdown-wrapper .fr-dropdown-content ul.fr-dropdown-list {
    padding: 8px 5px;
    box-shadow: 0px 2px 4px #e0e0e0 inset;
}

.fr-command.fr-btn.fr-active+.fr-dropdown-menu {
    -webkit-box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 6px 0 rgb(0 0 0 / 30%), 0px 2px 7px 0 rgb(0 0 0 / 34%);
    -moz-box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 6px 0 rgb(0 0 0 / 30%), 0px 2px 7px 0 rgb(0 0 0 / 34%);
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 6px 0 rgb(0 0 0 / 30%), 0px 2px 7px 0 rgb(0 0 0 / 34%);
}

.fr-toolbar .fr-command.fr-btn.fr-dropdown:after, .fr-popup .fr-command.fr-btn.fr-dropdown:after, .fr-modal .fr-command.fr-btn.fr-dropdown:after {
    border-top: 0;
    font-family: SourceSerifPro;
    transform: rotate(90deg);
    font-weight: bold;
    content: ">";
    top: 12px;
    font-size: 14px;
}

.fr-toolbar .fr-command.fr-btn.fr-dropdown.fr-active:after, .fr-popup .fr-command.fr-btn.fr-dropdown.fr-active:after, .fr-modal .fr-command.fr-btn.fr-dropdown.fr-active:after {
    /* border-top: 0;
    border-bottom: 0;
    right: 9px;
    top: 15px;
    font-family: fangsong;
    transform: rotate(0deg); */
    border-top: 0;
    border-bottom: 0;
    transform: rotate(90deg);
}

button#fontFamily-1:before {
    border: 0.5px solid #ccc;
    content: "";
    left: -1px;
    position: absolute;
    top: 0px;
    height: 100%;
}

.fr-command.fr-btn+.fr-dropdown-menu {
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

.fr-command.fr-btn+.fr-dropdown-menu .fr-dropdown-wrapper .fr-dropdown-content ul.fr-dropdown-list {
    min-width: 100px;
}